terraform {
  cloud {
    organization = "${terraform_organization}"
    hostname     = "app.terraform.io" # Optional; defaults to app.terraform.io
    workspaces {
      tags = [
        "platform:azure",
        "project:${project_name}",
      ]
    }
  }

  required_providers {
    azuread = {
      source = "hashicorp/azuread" # Inherited from root or latest
    }
    azurerm = {
      source = "hashicorp/azurerm" # Inherited from root or latest
    }
  }
}
